NEXT_PUBLIC_SOMNIA_RPC=https://api.infra.testnet.somnia.network
NEXT_PUBLIC_ESCROW_ADDRESS=0x073F9b59442e63f03b96D2aDe16dc37d40929e20
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_DEFAULT_RATE_URL=
NEXT_PUBLIC_DEFAULT_RATE_JSONPATH=$.rate
NEXT_PUBLIC_USDC_ADDRESS=0xB2614c8E833ef0Caafccc4978D366378ae383169
NEXT_PUBLIC_TEST_SETTLEMENT_PAIR=EUR
