NEXT_PUBLIC_SOMNIA_RPC=https://api.infra.testnet.somnia.network
NEXT_PUBLIC_ESCROW_ADDRESS=0xf9e56cC9A6c61637fE378f089842d0E778E7f20b
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_USDC_ADDRESS=0xB2614c8E833ef0Caafccc4978D366378ae383169

SOMNIA_RPC_URL=https://api.infra.testnet.somnia.network
CRON_SECRET=
CRON_KEEPER_PRIVATE_KEY=
CRON_MAX_SCHEDULED_CHECKS_PER_RUN=5
CRON_SCHEDULED_JOB_SCAN_LIMIT=200
