SOMNIA_TESTNET_RPC=https://api.infra.testnet.somnia.network/
SOMNIA_MAINNET_RPC=https://api.infra.mainnet.somnia.network/
DEPLOYER_PRIVATE_KEY=
SOMNIA_EXPLORER_API_KEY=
AGENT_PLATFORM_TESTNET=0x037Bb9C718F3f7fe5eCBDB0b600D607b52706776
AGENT_PLATFORM_MAINNET=0x5E5205CF39E766118C01636bED000A54D93163E6
AGENT_PLATFORM=0x037Bb9C718F3f7fe5eCBDB0b600D607b52706776
JSON_API_AGENT_ID=
LLM_INFERENCE_AGENT_ID=
OFF_RAMP_VAULT=
ROUTE_TOKEN=
SELF_RELAYER=
SELF_SCOPE_SEED=omniroute.v1
AGENT_CARD_URI=ipfs://
CONTRACT_OWNER=
JSON_REWARD_PER_AGENT=30000000000000000
LLM_REWARD_PER_AGENT=70000000000000000
SUBCOMMITTEE_SIZE=5
CONSENSUS_THRESHOLD=3
REQUEST_TIMEOUT=30
REACTOR_FUNDING_WEI=33000000000000000000
